<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lending</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <h1>My WebSite</h1>
      <p>We can do develop a lot of project with different type of software, we are cool</p>
      <a href="{% url 'merchant:merchant_registration' %}">Make request to merchant registration form</a>
  </div>
</body>
</html>
